@import "../__global/_config.scss";

.cart-item {
  border-bottom: 0.1rem solid #40403b;
  padding-bottom: 1.6rem;
  margin-bottom: 1.6rem;
  @include flex(center, unset);
  .img {
    width: 8rem;
    height: 8rem;
    margin-right: 1rem;
    img {
      width: 100%;
    }
  }
  .content {
    width: calc(100% - 9rem);
    .name {
      font-size: 1.4rem;
      margin-right: 0.4rem;
    }
    .quantity-box {
      @include flex(center, unset);
      font-family: "Roboto";
      .quantity {
        margin-right: 0.2rem;
      }
      .price {
        margin-left: 0.2rem;
        color: var(--primary-color);
      }
    }
  }
}
