@import "../__global/_config.scss";

footer {
  overflow: hidden;
  position: relative;
  &::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://i.postimg.cc/J4cz76yg/image.png);
    content: "";
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
  }
  .ft-top {
    .row {
      margin: 0 !important;
    }
    position: relative;
    z-index: 999;
    padding: 0 2.4rem;
    .pd-0 {
      padding: 0 !important;
    }
    .ft-top-left {
      height: 100%;
      .back-to-top {
        padding: 4rem 0;
        margin: 0 4rem;
        font-weight: 700;
        text-transform: uppercase;
        img {
          width: 4rem;
          margin-right: 0.6rem;
          border-radius: 50%;
        }
        .back-inner {
          display: inline-block;
          cursor: pointer;
          &:hover {
            color: var(--primary-color);
          }
          i {
            margin-right: 10px;
            text-align: center;
            height: 4rem;
            width: 4rem;
            line-height: 4rem;
            background-color: var(--primary-color);
            border-radius: 50%;
          }
        }
      }
      .ft-box {
        padding: 4rem 4rem 2.5rem;
        height: 100%;
        .ft-box-top {
          @include flex(center, space-between);
          margin-bottom: 4rem;
          .ft-logo {
            img {
              height: 8rem;
            }
          }
          .ft-social {
            ul {
              @include flex(center, space-between);
              li {
                color: var(--white);
                margin-left: 0.6rem;
                a {
                  @include flex(center, center);
                  width: 4rem;
                  height: 4rem;
                  background-color: #2e2e2e;
                }
              }
            }
          }
        }
        .ft-nav {
          ul {
            @include flex(center, space-between);
            li {
              margin-right: 1.8rem;
              margin-bottom: 2.5rem;
              i {
                margin-right: 0.4rem;
              }
            }
          }
        }
      }
    }
    .ft-top-right {
      height: 100%;
      .map {
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .ft-center {
    position: relative;
    z-index: 999;
    padding: 4rem 4rem 2.5rem;
    .ft-contact {
      ul {
        display: flex;
        margin-bottom: 1.6rem;
        li {
          margin-right: 4rem;
          @include flex(center, space-between);
          i {
            color: var(--primary-color);
            text-align: center;
            vertical-align: middle;
            font-size: 4rem;
            line-height: normal;
            margin-right: 1.5rem;
          }
          a {
            font-size: 2rem;
            span {
              font-size: 1.4rem;
              display: block;
            }
          }
        }
      }
    }
    .ft-search {
      display: flex;
      position: relative;
      .icon {
        position: absolute;
        left: 0;
        top: 0;
        width: 5rem;
        height: 5rem;
        @include flex(center, center);
        i {
        }
      }
      input {
        padding-left: 5rem;
        height: 5rem;
        background: transparent;
        border-radius: 0;
        border: none;
        border-bottom: 0.2rem solid #40403b;
        padding-left: 5rem;
        color: var(--white);
        outline: none;
      }
    }
    .ft-address {
      @include flex(center, end);
      .text {
        margin-right: 1.6rem;
        p {
          font-size: 2rem;
        }
      }
      .icon {
        i {
          font-size: 4rem;
          color: var(--primary-color);
        }
      }
    }
  }

  .ft-bottom {
    @include flex(center, center);
    border-top: 0.05rem solid #40403b;
    padding: 2.4rem 0;
    .coppy-right {
      display: flex;
      p {
        margin-bottom: 0;
      }
      span {
        margin-left: 0.4rem;
        color: var(--primary-color);
      }
    }
  }
}

//responsive
@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
  footer {
    .ft-top {
      .ft-top-left {
        .back-to-top {
          padding: 2rem 0;
        }
        .ft-box {
          padding: 3rem 4rem 1.5rem;
          .ft-nav {
            @include flex(center, center);
          }
        }
      }
      .ft-top-right {
        .map {
          max-height: 35rem;
        }
      }
    }
    .ft-center {
      .ft-contact {
        @include flex(center, center);
        ul {
          li {
            margin-right: 1rem;
          }
        }
      }
      .ft-search {
        width: 100%;
        input {
          width: 100%;
        }
      }

      .ft-address {
        margin-top: 2.5rem;
        justify-content: center;
        flex-direction: row-reverse;
        .text {
          margin-left: 1.6rem;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  footer {
    .ft-top {
      .ft-top-left {
        .ft-box {
          .ft-nav {
            ul {
              flex-wrap: wrap;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  footer {
    .ft-center {
      .ft-contact {
        ul {
          flex-direction: column;
          li {
            margin-bottom: 1.5rem;
          }
        }
      }
    }
  }
}
//
