@import "../__global/_config.scss";
#product-page {
  .loading {
    height: 100vh;
    @include flex(center, center);
    &.f-load{
      background: rgba(255, 255, 255, 0.5);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 999999;
    }
    #loading {
      margin: 0;
    }
  }
  #main {
    padding: 20rem 0 8rem 0;
    .MuiPagination-root {
      justify-content: center;
      display: flex;
      .MuiPagination-ul {
        li {
          margin-bottom: 0.6rem;
          .MuiButtonBase-root,
          .MuiPaginationItem-text {
            color: var(--white) !important;
            width: 5rem;
            height: 5rem;
            border-radius: 0;
            background: #353535;
            line-height: 5rem;
            font-size: 1.4rem;
            &.Mui-selected {
              background: var(--primary-color);
            }
            &:hover {
              background: rgba(252, 212, 98, 0.8);
            }
          }
        }
      }
    }
    .item {
      padding: 0;
    }
    .filter-wraper {
      .heading {
        margin-bottom: 3rem;
        button {
          width: 100%;
        }
      }

      .filter-item {
        padding: 4rem 2rem;
        margin-bottom: 4rem;
        &.category{
          .content{
            form{
              label{
                display: none;
                &.active{
                  display: block;
                }
              }
            }
          }
        }
        &:hover,
        &.active {
          .title {
            h2 {
              &::before {
                width: 100%;
                filter: drop-shadow(0 0 2rem var(--primary-color));
              }
            }
          }
        }
        &.active {
          .title {
            h2 {
              &::before {
                border-right: none;
              }
            }
          }
        }
        .title {
          position: relative;
          overflow: hidden;
          h2 {
            font-weight: 700;
            text-transform: uppercase;
            line-height: 2rem;
            letter-spacing: 0.3rem;
            margin-bottom: 3rem;
            color: var(--gray-1);
            display: inline-block;
            font-size: 1.4rem;
            position: relative;
            color: transparent;
            -webkit-text-stroke: 0.1rem rgba(255, 255, 255, 0.5);
            &::before {
              content: attr(data-text);
              position: absolute;
              color: var(--primary-color);
              height: 100%;
              width: 0;
              left: 0;
              overflow: hidden;
              transition: 1s;
              border-right: 0.6rem solid var(--primary-color);
              -webkit-text-stroke: 0.1rem var(--primary-color);
            }
          }
          .icon {
            &.active {
              color: var(--primary-color);
            }
            i {
              font-size: 1.6rem;
              margin-left: 0.8rem;
              display: none;
            }
          }
        }
        .content {
          @include flex(unset, center);
          flex-direction: column;
          form {
            label {
              position: relative;
              display: block;
              padding-left: 3rem;
              margin-bottom: 1rem;
              cursor: pointer;
              line-height: 1.4;
              text-transform: capitalize;
              input[type="checkbox"] {
                display: none;
                &:checked ~ .custom-checkbox {
                  border: 0.1rem solid var(--primary-color);
                  background-color: var(--primary-color);
                  &::after {
                    display: block;
                  }
                }
              }
              .custom-checkbox {
                position: absolute;
                top: 0;
                left: 0;
                width: 2rem;
                height: 2rem;
                background-color: #272626;
                border-radius: 0;
                border: 0.1rem solid #444444;
                &::after {
                  left: 0.6rem;
                  top: 0.4rem;
                  width: 0.5rem;
                  height: 1rem;
                  border: 1px solid var(--white);
                  border-width: 0 0.2rem 0.2rem 0;
                  transform: rotate(45deg);
                  content: "";
                  position: absolute;
                  display: none;
                }
              }
            }
          }
          ul {
            li {
              display: inline-block;
              margin-right: 0.5rem;
              margin-bottom: 1rem;
              a {
                font-size: 1.2rem;
                color: var(--white);
                padding: 1rem 1.5rem;
                background-color: #272626;
              }
            }
          }
          .MuiBox-root {
            padding: 3rem 1rem 0;
            .css-187mznn-MuiSlider-root {
              color: #cd7642;
            }
            .text {
              .value {
                color: var(--primary-color);
                font-size: 1.6rem;
                margin: 0 0.6rem;
              }
            }
          }
        }
      }

    }
    .shop-wraper {
      .heading {
        display: none;
        &.active {
          display: block;
        }
        p {
          text-transform: capitalize;
          span {
            color: var(--primary-color);
            padding: 0 0.6rem;
            font-size: 1.6rem;
            font-weight: 500;
          }
        }
      }
      .product-wrapper {
        .not-found {
          @include flex(center, center);
          margin: 20rem 0;
        }
      }
    }
  }
}

//responsive
@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
  #product-page {
    #main {
      .row {
        justify-content: center;
      }
      .filter-wraper {
        margin-bottom: 5rem;
        .filter-item {
          padding: 1rem 2rem;
          margin-bottom: 1rem;
          .title {
            justify-content: space-between;
            display: flex;
            h2 {
              margin-bottom: 0;
              font-size: 1.2rem;
            }
            .icon {
              transition: all 0.1s;
              &.active {
                transform: rotate(90deg);
              }
              &:hover {
                i {
                  color: var(--primary-color);
                }
              }
              i {
                display: inline-block;
                cursor: pointer;
                padding: 0.2rem 1rem;
              }
            }
          }
          .content {
            height: 0;
            overflow: hidden;
            transition: 0.3s;
            &.active {
              margin-top: 2rem;
              height: auto;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}
//
